* {
  padding: 0;
  margin: 0;
  border: 0;
}
html {
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
}
body {
  font-family: Open Sans, Arial, sans-serif;
  font-size: 14px;
  color: #666;
  background-color: #fff;
  line-height: 1.7em;
  font-weight: 500;
}
header {
  display: border;
  transition: background-color 0.4s, color 0.4s, transform 0.4s,
    opacity 0.4s ease-in-out, -webkit-transform 0.4s;
  background-color: #fff;
  width: 100%;
  -webkit-box-shadow: 0 1px 0 #666;
  z-index: 99999;
  position: fixed;
  top: 0px;
}
a, li {
  font-weight: 600;
  list-style: none;
  line-height: 1em;
  text-decoration: none;
    position: relative;

}
#logo {
  width: 5%;
  height: auto;
  margin: 1em;
   float: none;
  vertical-align: middle;
}
h1 {
  font-weight: 600;
  color: #333;
  padding: 1em;
  display: inline;
}
h1:hover {
  color: #666;
}
nav {
  text-align: left;
  font-size: 100%;
  vertical-align: baseline;
  float: right;
  padding-top: 2em;
  transition: all 0.4s ease-in-out;
 margin-right: 1em;

}
nav li{
    display: inline-block;
    padding: 1em;
 transition-duration: 0.5s;
}
nav li:hover{
    cursor: pointer;
}
.dropdown {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
  }
  .nav li:hover > ul,
.nav li:focus-within > .dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  margin-top: 2em;
}
.dropdown:before {
    content:"";
    position: absolute;
    right: 1em;
    top: -2em;
    width: 0;
    height: 0;
    z-index:9999;
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
}
.dropdown:after {
    content:"";
    position: absolute;
    right: 1em;
    top: -2em;
    width: 0;
    height: 0;
    border: solid black;
    border-width: 0 3px 3px 0;
    z-index:9998;
    transform: rotate(-135deg);
   
}
.dropdown li {
    clear: both;
    width: 100%;
  }
button {
  font-family: Open Sans, Arial, sans-serif;
  color: #666;
  -webkit-font-smoothing: antialiased;
  font-weight: 600;
  list-style: none;
  box-sizing: border-box;
  margin: 0;
  border: 0;
  outline: 0;
  -webkit-text-size-adjust: 100%;
  vertical-align: baseline;
  background: 0 0;
  position: relative;
  line-height: 1em;
  word-wrap: break-word;
  display: inline-block;
  font-size: 14px;
  padding: 5px;
}
button:hover {
  background-color: #5e4a95;
}
